body {
    background-color: #1b1b1b;
    color: #ffffffe1;
    font-family: "sans-serif";
    padding: 0;
    margin-bottom: 15vh;
}

div{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

img {
    height: auto;
    min-width: 60%;
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5vh;
}

h1 {
    text-align: center;
    font-size: 15vh;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 4vh;
    font-weight: bold;  
    margin-top: 5vh;
    margin-bottom: 4vh;
}

p {
    text-align: left;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5vh;
    line-height: 4.5vh;
    letter-spacing: 0.05vh;
    margin-top: 1vh;
}

section {
    margin-left: 0;
    margin-right: 0;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.hidden.chart{
    filter: blur(0.8vh);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
}

.show.chart {
    filter: blur(0);
    transform: translateX(0);
}

.images{
    display: flex;
    margin-top: 5vh;
}

.sketches {
    max-width: 8%;
    height: auto;
   
}

.chart:nth-child(2) {
    transition-delay: 50ms;
}

.chart:nth-child(3) {
    transition-delay: 125ms;
}

#graph1 {
    margin-bottom: 10vh;
}

#graph2{
    margin-top: 10vh;
    margin-bottom: 9vh;
    width: 200vh;
}

#last{
    margin-bottom: 10vh;
}

#left{
    margin-left: auto;
    margin-right: 0;
}

#right{
    margin-left: 0;
    margin-right: 20vh;
}



